<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1><i class="fa-solid fa-pen-to-square"></i></i>マイページ編集</h1>
    <p></p>
 </div>
</div>
<%= form_with model: @user, url: user_path(current_user) do |f| %>
<div class="row py-2">
  <div class="col-md-8 offset-md-2">
    <h3 class="mb-3">マイページ</h3>
      <!--フォーム-->
      <form>
        
      <!--アイコン-->
      <div class="row py-2">
        <label class="col-md-4 col-form-label">
          <h4>画像変更</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating ">
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*"%>
          </div>
        </div>
      </div>

      <!--ニックネーム名-->
      <div class="row py-2">
        <label class="col-md-4 col-form-label">
          <h4>ニックネーム</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating ">
            <%= f.text_field :name %>
          </div>
        </div>
      </div>

      <!--自己紹介-->
      <div class="row py-2">
        <label class="col-md-4 col-form-label">
          <h4>自己紹介文</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating ">
            <%= f.text_area :introduction,class: "text_area" %>
          </div>
        </div>
      </div>
      
      <!--編集ボタン-->
      <div class="row py-2">
        <label class="col-md-4 col-form-label">
        </label>
        <div class="col-md-8">
          <div class="form-floating ">
            <%= f.submit "変更を保存" %>
          </div>
        </div>
      </div>
      
      <!--退会確認ボタン-->
      <div class="row py-2">
        <label class="col-md-4 col-form-label">
        </label>
        <div class="col-md-8">
          <div class="form-floating ">
            <%= link_to "退会",unsubscribe_path(current_user), class: 'btn btn-outline-secondary' %>
          </div>
        </div>
      </div>

      </form>
  </div>
</div>
<%end%>