<h2 class="head-line title_h2 text-center p-4">人気ビールランキング</h2>
<div class="row px-6">
    <table class="table">
      <thead>
        <tr>
          <th><h6>順位</h6></th>
          <th><h6>ビール名</h6></th>
          <th><h6>メーカー名</h6></th>
          <th><h6>評価</h6></th>
        </tr>
      </thead>

      <tbody>
        <% @star_ranks.each do |item| %>
          <tr>
            <th scope="row">
              <%= item.id %>
            </th>
            <td>
              <%= link_to item_path(item), class: "btn-link"  do %>
                <i class="far fa-user"></i>
                <%=item.item_name%>
              <% end %>
            </td>
            <td>
              <%= item.maker.makers_name %>
            </td>
            <td>
              <%=item.star%>点
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>