<div class = "container">
  <div class= "row text-center">
    <div class = "col-md-12 mt-5">
      <h2>アルコール度数一覧・追加</h2>
      <p>商品のアルコール度数を管理できるページです</p>
    </div>
  </div>

  <!--ジャンル追加フォーム-->
  <div class ="row  d-flex justify-content-center">
    <div class="col-lg-8 mt-3 d-flex justify-content-center">
      <%= form_with model: @arc,url: admin_arcs_path do |f| %>
        <label> <h5>度数</h5></label>
        <%= f.text_field :arcs_name %>
        <%= f.submit '新規登録',class:"btn btn-success" %>
      <% end %>
    </div>
  </div>

　<!--ジャンル一覧の表示-->
  <div class ="row d-flex justify-content-center">
    <div class="col-lg-8 mt-3">
      <table class="table">
        <thead>
          <tr>
            <th><h4>度数</h4></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @arcs.each do |arc| %>
          <tr>
            <td><strong class="h5"><%= arc.arcs_name %>%</strong></td>
            <td>
              <%= link_to edit_admin_arc_path(arc.id),class:"btn btn-secondary" do %>
                <h6 class="my-auto">編集</h6>
              <%end%>
            </td>
            <td>
              <%= link_to admin_arc_path(arc.id),method: :delete,class:"btn btn-secondary" do %>
                <h6 class="my-auto">削除</h6>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
