<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center  toppage-image">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 fw-normal" style="color:#383E2C;">
      <br><%= image_tag 'big_logo.png'%><br>
    </h1>
  </div>
</div>

    <div class="row mb-2">
      <h3 class="text-center">人気ビール  </h3>
      <% @all_ranks.each.each.with_index do |item,i|%>
      <div class="col-md-6">

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">評価の高いビール</strong>
            <h3 class="mb-0"><%= item.item_name %></h3>
            <div class="mb-1 text-muted"><%= item.maker.makers_name %></div>
            <p class="card-text mb-auto">評価の高いビールです！<br>下のボタンから詳細を確認しましょう！</p>
            <div><%=link_to "詳細を見る",item_path(item)%> </div>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag item.image,class: "card-img-toppage" %>
          </div>
        </div>
      </div>
      <%end%>

    </div>

    <div class="row g-5">
      <div class="col-md-8">
        <h3 class="pb-4 mb-4 fst-italic border-bottom">
          ゆーとびあへようこそ！
        </h3>
        <article class="blog-post">

        <h2>当サイトについて</h2>

        <p>
            当サイト、ゆーとびあ！は<br><br>
            みんなで最高の一杯を見つけようという趣旨の、ビール口コミサイトです。<br><br>
            みなさんでビールを楽しみましょう！！<br><br>
        </p>
          
        <hr>

        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">新規登録/ログインはこちら！</h5>
                <div class="card-text">
                  <%= link_to new_user_registration_path,class: "btn btn-primary" do %>
                    <h5><i class="fa-solid fa-user-plus"></i> 新規登録</h5>
                  <%end%>
                  
                  <%= link_to new_user_session_path,class: "btn btn-primary" do %>
                    <h5><i class="fa-solid fa-right-to-bracket"></i> ログイン</h5>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <hr>

        </article>


      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">

          <div class="p-4 mb-3  rounded" style="background-color:#B1B5A9;">
            <h4 class="fst-italic">今日のビールガチャ！</h4>
            <p class="mb-0">今日飲むビールをガチャで決めましょう！！</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
              ガチャを回す
          　</button>
          </div>

          <div class="p-4">
            <h4 class="fst-italic">最近のレビュー</h4>
            <ol class="list-unstyled mb-0">
              <%@reviews.each do |review| %>
              <li>
                <%=link_to item_path(review.item) do %>
                  <h6><%=review.item.item_name%></h6>
                  <p>by<%=review.user.name%></p><br>
                <%end%>
              </li>
              <%end%>
            </ol>
          </div>

        </div>
      </div>
    </div>





    <!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ガチャ結果</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <% @random.each do |item| %>
      <h2 class="card-title mx-auto"><%= item.item_name %>が選ばれました！！</h2>
      <div class="card mx-auto" style="width: 20rem; height:rem;">
        <div class="card-body">
          <%= image_tag item.image,class: "card-img-top" %>
        </div>
      </div>

      <div class="modal-footer mx-auto">
        <%=link_to root_path,class: "btn btn-primary" do %>
          トップに戻る
        <%end%>
        <%=link_to item_path(item),class: "btn btn-primary" do %>
          ビールの詳細を見る
        <%end%>
      <%end%>
      </div>
    </div>
  </div>
</div>