<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="container marketing">
       
      <div class="row featurette ">
        <div class="col-md-7 my-auto p-4">

        　<h1 class="featurette-heading fw-normal lh-1 float-end">まだ知らないお酒を見つけませんか</h1>
          <div class="text-center">
            <%= link_to new_user_registration_path,class: "btn btn-primary" do %>
              今すぐ始める
            <%end%>
          <p>
            ビール専門のレビューサイト<br>
            最高の一杯を<br>
            探しましょう
          </p>
          </div>
      </div>

        <div class="col-md-5 my-auto" >
          <%=image_tag 'big_logo.png',class: "img-responsive"%>
        </div>

      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading fw-normal lh-1">今日のビールは決まりましたか？</h2>
          <p class="lead">今日のビールをガチャで決めましょう！</p>

          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            ガチャを回す
          </button>

        </div>
        <div class="col-md-5 order-md-1">
          <%=image_tag 'beer_glass.png',:size=>'200×100',class: "img-responsive"%>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container marketing">
      <!-- カルーセルの下にある3列のテキスト -->

      <div class= "row text-center">
  　　　　<div class = "col-md-12 mt-1">
    　　　　<h2>最近のレビュー</h2>
    　　　</div>
    　</div>


      <div class="row text-center">
        <% @reviews.each do |review|%>
          <div class="col-lg-4 mx-auto">
            <div class="card" style="background-color:#B1B5A9;">
              <div class="card-body">
                <div class="card-content">
                  <table class="table">

                  <tr>
　                   <div class="content average-score">
                  　　 　<div class="star-rating mb-2">
                        <div class="star-rating-front" style="width: <%=(review.star).to_f*20%>%"><nobr>★★★★★</nobr></div>
                        <div class="star-rating-back"><nobr>★★★★★</nobr></div>
                      </div>
                    </div>
　                </tr>

                  <tr>
                   <th><h6>ビール名</h6></th>
　                 <td><%=review.item.item_name%></td>
　                </tr>

　                <tr>
　                  <th><h6>タイトル</h6></th>
　                  <td><%=review.title%></td>
                  </tr>

                  <tr>
　                  <th><h6>レビュー内容</h6></th>
　                  <td><%=review.text%></td>
                  </tr>

                  </table>
                </div>

                 <%=link_to item_path(review.item),class: "btn btn-primary" do %>
                  商品を見る
                <%end%>
          </div>
        </div>

      </div>
      <%end%>
    </div>

    </div>

     <hr class="featurette-divider">

    <div class="container marketing">
      <!-- カルーセルの下にある3列のテキスト -->

      <div class= "row text-center">
  　　　　<div class = "col-md-12 mt-1">
  　　　 　<h2>評価の高いビール</h2>
  　　　　</div>
    　　　</div>
    　</div>


      <div class="row">
        <% @all_ranks.each.each.with_index do |item,i|%>
          <div class="col-lg-4 mx-auto">
            <div class="card" style="background-color:#B1B5A9;">
              <h3 class="card-header"><i class="fa-solid fa-crown"></i>第<%=i+1%>位</h3>
              <%= image_tag item.image,class: "card-img-toppage" %>
              <div class="card-body">

                <div class="card-content">

                <div class="card-body">
                  <h5 class="card-title"><%= item.item_name %></h5>
                  <p class="card-text"><%=item.item_text %></p>
        　　　　　　　　<div class="card-content">
         　　　　　　　　 <div class="content average-score">
            　　　　　　<div class="star-rating mb-2">
              　　　　　　<div class="star-rating-front" style="width: <%= item.review_score_percentage %>%"><nobr>★★★★★</nobr></div>
             　　　　　　　　 <div class="star-rating-back"><nobr>★★★★★</nobr></div>
            　　　　　　</div>
            　　　　　　<div class="average-score-display ml-3 pt-2">
             　　　　　　 <%= item.avg_score %>点
           　　　　　　 </div>
        　　　　　　　　  </div>
        　　　　　　　</div>
      　　　　　　</div>
              </div>

                 <%=link_to item_path(item),class: "btn btn-primary" do %>
                  商品を見る
                <%end%>
          </div>
        </div>

      </div>
      <%end%>
    </div>

  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ガチャ結果</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <% @random.each do |item| %>
      <h2 class="card-title mx-auto"><%= item.item_name %>が選ばれました！！</h2>
      <div class="card mx-auto" style="width: 20rem; height:rem;">
        <div class="card-body">
          <%= image_tag item.image,class: "card-img-top" %>
        </div>
      </div>

      <div class="modal-footer mx-auto">
        <%=link_to root_path,class: "btn btn-primary" do %>
          トップに戻る
        <%end%>

        <%=link_to item_path(item),class: "btn btn-primary" do %>
          ビールの詳細を見る
        <%end%>
      <%end%>
      </div>
    </div>
  </div>
</div>