<!--なぜかurlの最後に？-->

<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= form_with model: @review, url: item_review_path,method: :patch do |f| %>
    <h1><i class="fa-solid fa-right-to-bracket"></i>レビューを編集</h1>
    <p>レビューをしてください！</p>
 </div>
</div>

<div class="row py-3">
  <div class="col-md-8 offset-md-2">
    <%= render 'layouts/error', model: f.object %>
    <h3 class="mb-3"></h3>
      <!--フォーム-->
      <form>
      <!--メールアドレス-->
      <div class="row py-3">
        <label class="col-md-4 col-form-label">
          <h4>総合評価</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating">
            <div class="row mx-auto">
              <div class="rating-box">
                <div class="main-rating">
                  <div class="ratings">
                    <span class="fa fa-star-o" id="star"></span>
                    <span class="fa fa-star-o" id="star"></span>
                    <span class="fa fa-star-o" id="star"></span>
                    <span class="fa fa-star-o" id="star"></span>
                    <span class="fa fa-star-o" id="star"></span>
                  </div>
                  <div class="rating-value-display"><span id="rating-value-display">0</span>/5</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <%= f.hidden_field :star, id:"rating_value" %>
      </div>

      <div class="row py-3">
        <label class="col-md-4 col-form-label">
          <h4>レビュータイトル</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating">
            <%=f.text_field :title %>
          </div>
        </div>
      </div>

      <div class="row py-3">
        <label class="col-md-4 col-form-label">
          <h4>レビューを追加</h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating">
            <%=f.text_area :text,class: "text_area" %>
          </div>
        </div>
      </div>

      <div class="row py-3">
        <label class="col-md-4 col-form-label">
          <h4></h4>
        </label>
        <div class="col-md-8">
          <div class="form-floating">
            <div class="actions">
              <%= f.submit "投稿",class: "btn btn-success" %>
            </div>
          </div>
        </div>
      </div>

      </form>
  </div>
  <% end %>
</div>


<%= javascript_pack_tag 'review_stars' %>

