<div class = "container">
  <div class= "row text-center">
    <div class = "col-md-12 mt-5">
      <h2>メーカー一覧・追加</h2>
      <p>商品のジャンルを管理できるページです</p>
    </div>
  </div>

  <!--ジャンル追加フォーム-->
  <div class ="row  d-flex justify-content-center">
    <div class="col-lg-8 mt-3 d-flex justify-content-center">
      <%= form_with model: @maker,url: admin_makers_path do |f| %>
        <%= render 'layouts/error', model: f.object %>
        <label> <h5>ジャンル名</h5></label>
        <%= f.text_field :makers_name %>
        <%= f.submit '新規登録',class:"btn btn-success" %>
      <% end %>
    </div>
  </div>

　<!--ジャンル一覧の表示-->
  <div class ="row d-flex justify-content-center">
    <div class="col-lg-8 mt-3">
      <table class="table">
        <thead>
          <tr>
            <th><h4>メーカー名</h4></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @makers.each do |maker| %>
          <tr>
            <td><strong class="h5"><%= maker.makers_name %></strong></td>
            <td>
              <%= link_to edit_admin_maker_path(maker.id),class:"btn btn-secondary" do %>
                <h6 class="my-auto">編集</h6>
              <%end%>
            </td>
            <td>
              <%= button_to admin_maker_path(maker.id), method: :delete,class:"btn btn-secondary" do %>
                <h6 class="my-auto">削除</h6>
              <%end%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>